/* Navigation*/
.navItems {
    font-size: 20px;
    font-weight: 500;
}

.logo-circle {
    border: 0px solid #cccccc;
    border-radius: 150px;
    float: left;
    background-color: #e3f2fd;
}

.navItemsRight {
    margin: auto;
}

/* Navigation Ends*/

/*Name section*/
.name-text {
    font-family: 'Euphoria Script', cursive;
    font-size: 120px;
}

.cloudImage {
    margin: auto;
}

/*Name section ends*/

/* Image section*/

/* Image section ends*/

/* Intro section*/
.intro-text {
    width: 50%;
    margin: 0 auto
}

/* what you want*/
.whatyouwant {
    margin: auto;
}